body{
    background-color: pink;
}
.maintitle{
    color: hotpink;
    text-align: center;
    list-style-position: inside;
    font-family: "Comic Sans MS";

}

img{
    width: 50%;
    object-fit: cover;  
    border: 5px solid hotpink;     
    border-radius: 50%;        
}
